
.header {
  background-color: rgb(172, 28, 57);
  height: 200px;
  margin: 0;
  padding-top: 60px;
  justify-content:center;
  font-size: 3rem;
}
.header-title{
  color: white;
}

.footer {
  background-color: rgb(246, 240, 132);
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 150px;
}

.footer h3 {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 50px;
  text-align: center;
  color: rgb(16, 15, 15);
  font-size: 1rem;
}

.card-container {
  position: relative;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
}

.card-title {
  color: rgb(50, 138, 215);
  font-size: 3rem;
}

.card-desc {
  color: blueviolet;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
