
.header {
  background-color: crimson;
  height: 200px;
  margin: 0;
  padding-top: 60px;
  justify-content:space-between;
  gap: 25px;
  font-size: 3rem;
}
.header-title{
  color: white;
}

.footer {
  background-color: white;
  height: 200px;
}

.footer > h3 {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: rgb(16, 15, 15);
  font-size: 3rem;
}

.card-container {
  position: relative;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
}

.card-title {
  color: rgb(50, 138, 215);
  font-size: 3rem;
}

.card-desc {
  color: blueviolet;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
